<div class="hamburger_menu">
	<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
	<div class="hamburger_menu_content text-right">
		<ul class="menu_top_nav">
			<li class="menu_item has-children">
				<a href="#">
					usd
					<i class="fa fa-angle-down"></i>
				</a>
				<ul class="menu_selection">
					<li><a href="#">cad</a></li>
					<li><a href="#">aud</a></li>
					<li><a href="#">eur</a></li>
					<li><a href="#">gbp</a></li>
				</ul>
			</li>
			<li class="menu_item has-children">
				<a href="#">
					English
					<i class="fa fa-angle-down"></i>
				</a>
				<ul class="menu_selection">
					<li><a href="#">French</a></li>
					<li><a href="#">Italian</a></li>
					<li><a href="#">German</a></li>
					<li><a href="#">Spanish</a></li>
				</ul>
			</li>
			<li class="menu_item has-children">
				<a href="#">
					My Account
					<i class="fa fa-angle-down"></i>
				</a>
				<ul class="menu_selection">
					<li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>登入</a></li>
					<li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>註冊</a></li>
				</ul>
			</li>
			<li class="menu_item"><a href="#">主頁</a></li>
			<li class="menu_item"><a href="#">商店</a></li>
			<li class="menu_item"><a href="#">優惠活動</a></li>
			<li class="menu_item"><a href="#">頁面</a></li>
			<li class="menu_item"><a href="#">部落格</a></li>
			<li class="menu_item"><a href="#">聯繫我們</a></li>
		</ul>
	</div>
</div>

<!-- Slider -->

<div class="main_slider" style="background-image:url(/assets/images/slider_1.jpg)">
	<div class="container fill_height">
		<div class="row align-items-center fill_height">
			<div class="col">
				<div class="main_slider_content">
					<h6>2024 春夏系列</h6>
					<h1>新品上市最高可享 30% 折扣</h1>
					<div class="red_button shop_now_button"><a href="#">立即購買</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Banner -->

<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="banner_item align-items-center" style="background-image:url(/assets/images/banner_1.jpg)">
					<div class="banner_category">
						<a href="categories.html">女性款式</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="banner_item align-items-center" style="background-image:url(/assets/images/banner_2.jpg)">
					<div class="banner_category">
						<a href="categories.html">配件</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="banner_item align-items-center" style="background-image:url(/assets/images/banner_3.jpg)">
					<div class="banner_category">
						<a href="">男性款式</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>