<div class="container product_section_container">
	<div class="row">
		<div class="col product_section clearfix">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a href="index.html">首頁</a></li>
					<li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>男性的</a></li>
				</ul>
			</div>

			<!-- Sidebar -->

			<div class="sidebar">
				<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>商品類別</h5>
					</div>
					<ul class="sidebar_categories">
						<li  *ngFor="let item of category"
						[class.active]="item.id===ShopParams.categoryId"
						[value]="item.id"
						(click)="oncatagoryselect(item.id)"
						><a href="#">{{item.name}}</a></li>
						
						<!-- <li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Women</a></li>
						<li><a href="#">Accessories</a></li>
						<li><a href="#">New Arrivals</a></li>
						<li><a href="#">Collection</a></li>
						<li><a href="#">Shop</a></li> -->
					</ul>
				</div>
				<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>Search</h5>
					</div>
				<div class="input-group ">
					<input type="text" (keyup.enter)="onsearchinput()" #search class="form-control" placeholder="Product name" aria-label="Recipient's username" aria-describedby="basic-addon2">
			
				</div>
				<div style="text-align: center; padding-top: 1px;" >
				<button type="button" (click)="onsearch(search.value)" style="height: 30px;"  class="filter_button" data-mdb-ripple-init>
						<span>	<i class="fa fa-search"></i> 搜索 </span>
					  </button>
				</div>
				</div>
				<!-- Price Range Filtering -->
				<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>價格篩選</h5>
					</div>
					<p>
						<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
					</p>
					<div id="slider-range"></div>
					<div class="filter_button"><span>篩選</span></div>
				</div>
			</div>

			<!-- Main Content -->

			<div class="main_content">

				<!-- Products -->

				<div class="products_iso">
					<div class="row">
						<div class="col">

							<!-- Product Sorting -->
							<div class="product_sorting_container product_sorting_container_top">
								<select class="product_soring box" (change)="onsortSeleted($event)">
									<option *ngFor="let item of soreOptions" [value]="item.value">{{item.name}}</option>
								</select>
								<ul class="product_sorting">
									<li>
										<span>顯示</span>
										<span class="num_sorting_text">6</span>
										<i class="fa fa-angle-down"></i>
										<ul class="sorting_num">
											<li class="num_sorting_btn"><span>6</span></li>
											<li class="num_sorting_btn"><span>12</span></li>
											<li class="num_sorting_btn"><span>24</span></li>
										</ul>
									</li>
								</ul>
								<div class="pages d-flex flex-row align-items-center">
									<div class="page_current">
										<span>1</span>
										<ul class="page_selection">
											<li><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
										</ul>
									</div>
									<div class="page_total"><span>of</span> 3</div>
									<div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
								</div>
								<span class="showing_results">
									<!-- 頁面筆數 {{(ShopParams.pageNumber-1)*(ShopParams.pageSize+1)}}-{{(ShopParams.pageNumber)*(ShopParams.pageSize)}}  -->
									商品數量 {{ShopParams.totalCount}}
								</span>
							</div>
							<!-- Product Grid -->
							<div class="product-grid ">
									<app-shop-items *ngFor="let item of products" [products]="item"></app-shop-items>
							</div>
						</div>
					</div>
					<div class="row"></div>
					<div class="row" style="padding-top:10%;"></div>
					<div class="product_sorting_container product_sorting_container_bottom clearfix">
						<pagination (pageChanged)="onPageChanged($event.page)" [itemsPerPage]="ShopParams.pageSize" [boundaryLinks]="true" [totalItems]="ShopParams.totalCount" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
						</pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>